@import url('https://fonts.googleapis.com/css?family=Arsenal|Pattaya|Roboto+Condensed:400|Roboto:300');

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "*" "";
  text-align : justify;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.2em;
}

blockquote p {
  display: inline;
}

iframe {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

article p {
	text-indent: 4%;
}

h3 a {
	font-weight: normal;
}

/* figcaption { */
/* 	text-align: center; */
/* 	font-style: italic !important; */
/* 	color: #6c757d !important; */
/* 	margin-top: 0.5rem !important; */
/* } */

.trim {
	width: 100%;
	height: 7em;
	overflow: hidden; /* cut content */
	padding: 5px; /* fields */
	text-overflow: ellipsis; /* three dots */
	background: FFFFFF; /* background color */
	position: relative; /* relative positioning */
}

.trim::after {
	content: ''; /* output element */
	position: absolute; /* relative positioning */
	right: 0;
	top: 0; /* element position */
	width: 100%; /* gradient width */
	height: 100%; /* gradient height */
	/* Gradient */
	background: -moz-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -webkit-linear-gradient(up, rgba(255, 255, 255, 0.0),
		#FFFFFF 100%);
	background: -o-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -ms-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
}

.logo-header {
	background-image: url('../img/header-img.jpeg');
	height: 530px;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
	background-position: center center;
}

.hide-in-article {
	
}

.word-break {
	-ms-word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.beauty-title {
	font-family: 'Pattaya', Arial, sans-serif;
	letter-spacing: 0.2rem;
}

.error {
	color: red
}